<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>servicistic - ticket</title>
</head>

<body>
    <%- include('Include/header.ejs', {isLoggedIn, username}) %>
        <div class="ticket">
            <h1>VIEW</h1>
            <div class="ticketcopy">
                <img src="/uploads/<%= imageName %>" alt="" width="250px" />
                <p><strong>Name:</strong>
                    <%= name %>
                </p>
                <p><strong>Email:</strong>
                    <%= email %>
                </p>
                <p><strong>Phone:</strong>
                    <%= phone %>
                </p>
                <p><strong>Issue:</strong>
                    <%- message%>
                </p>
            </div>
        </div>
        <%- include('Include/footer.ejs') %>